{% extends 'base.html' %}

{% block content %}

<header>
    <h1>Welcome {{ user.username }}</h1>

</header>


<section>

    <div class="datos">
        <h3>Nombre(s)</h3>
        <p>{{ user.first_name}}</p>
    
        <h3>Apellidos</h3>
        <p>{{ user.last_name}}</p>
    
        <h3>Correo</h3>
        <p>{{ user.email}}</p>
    
    </div>
    
    <div class="modulos">
        <h3>MODULOS</h3>
        {% for module in user.exam.modules.all %}
        <a href=" {% url 'exam:question' module.id %} " class="modulo">{{ module }} </a>
        {% endfor %}
        
    </div>
    
    
</section>


<div class="div-btn-logout">

    <form action="{% url 'logout' %}" method="post" >
        {% csrf_token %}
        <input type="submit" value="Salir" class="btn-logout">
    </form>
</div>









{% endblock %}