body {

    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

    padding: 0;
    height: 100vh;

}

header {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(30px);

    margin: 0;
    padding: 20px;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.53); */
    width: 100%;
    box-sizing: border-box;
}

h3{
    margin: 5px;
}




.fm-login {
    /*form login*/
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(30px);
    /* display: flex; */
    /* flex-direction: column; */
    text-align: center;

    /* width:  95%; */

    height: auto;
    padding: 40px 20% 40px 20%;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    /* margin: 50px; */

    border-radius: 15px;

    max-width: 95%;
    display: block;
    margin: 50px auto;
    height: auto;










}

.fm-login input {
    /*inputs dentro del form login*/
    border-radius: 8px;
    background: transparent;
    border-style: none;
    margin: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    height: 40px;
    transition: 0.3s;
    width: calc(100% - 60px);
    text-align: center;
    outline: none;
    box-sizing: border-box;
}


input:hover {
    background: rgba(255, 255, 255, 0.4);
    transition: 0.3s;
}

a:hover{
    background: rgba(255, 255, 255, 0.6);
    transition: 0.3s;

}

.datos {
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(30px);

    display: flex;
    flex-direction:column;
    text-align: center;

  
    width: 80%;
    height: auto;
    padding: 20px;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    margin: 30px;

    border-radius: 15px;
    border: 1px solid orange;


    /* margin-left: 30%; */
    

}
.pregunta {
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(30px);

    display: flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;

  
    width: 80%;
    height: auto;
    padding: 20px;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    margin: 30px;
    margin-left: 10%;

    border-radius: 15px;

    /* margin-left: 30%; */
    
    text-align: center;
}

td{
    border: 1px solid black;
}

.modulos{
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(30px);

    display: flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;

    width: auto;
    height: auto;
    padding: 20px 20px 0px 20px;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    margin: 30px;

    border-radius: 15px;
    position: relative;
    border: 1px solid green;

}
.modulo{
    margin: 20px 0 20px 0;
}




section{
    margin: 0;
    display: flex;
    
    
}



.div-btn-logout{
    max-width: 35%;
    display: block;
    margin: 0 auto;
    height: auto;
}


.btn-logout{
    

    padding: 15px;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(30px);
    
    width: 100%;
    text-align: center;
    outline: none;
    box-sizing: border-box;
    border-style: none;
    transition: 0.3s ;
}

.btn-logout:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    transition: 0.3s;
}

img{
    max-width: 75%;
    display: block;
    margin: 0 auto;
    max-height: 250px;

    
}


.siguiente{
    padding: 15px;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); 
    width: 100%;
    text-align: center;
    outline: none;
    box-sizing: border-box;
    border-style: none;
    transition: 0.3s ;
    margin-top: 50px;
}

.modulos2{
    padding: 20px;
    text-align: center;
    line-height: 1.7;
    font-size: large;
}


.ingresar{
    padding: 30px 0 0 0;
    
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); 
    
    text-align: center;
    outline: none;
    box-sizing: border-box;
    border-style: none;
    transition: 0.3s ;
    
    
    max-width: 25%;
    display: block;
    margin: 50px auto;
    height: 80px;
    text-decoration: none;
    color: black;

}

